atomicwrites==1.2.1
attrs==18.2.0
boto==2.49.0
boto3==1.9.42
botocore==1.12.42
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
gensim==3.6.0
idna==2.7
jmespath==0.9.3
more-itertools==4.3.0
numpy==1.15.4
pluggy==0.8.0
pocketsphinx==0.1.15
py==1.7.0
PyAudio==0.2.11
pytest==3.10.1
python-dateutil==2.7.5
requests==2.20.1
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
smart-open==1.7.1
SpeechRecognition==3.8.1
tqdm==4.28.1
urllib3>=1.24.2
